
.centerContents{
    margin-top: 5%;
}
.todoListItem:nth-child(even){
    background-color: whitesmoke;
}
.todoListItem{
    position: relative;
    display: table;
    width: 100%;
    cursor: pointer;
    padding: 1vmin 1vmin;
}
.todoListItem:hover{
    background-color: black;
    color: white;
}
.todoListItem > * {
    display: table-cell;
    vertical-align: middle;
}
.todoListItem > .title{
    font-size: 1.2em;
    font-weight: bold;
    width: 60%;
}
.todoListItem > .added{
    width: 30%;
    text-align: center;
    font-size: .8em;
}
.todoListItem > .controlArea{
    width: 10%;
}
.todoListItem::after{
    content: '';
    width: 90%;
    left: 5%;
    bottom: 0%;
    position: absolute;
    border-bottom: 1px solid black;
}
.details .titleControls{
    display: flex;
}
.details .title{
    background-color: lightgrey;
    padding: 2% 0%;
    text-align: center;
    font-size: 3em;
    width: 80%;
}
.details .controls{
    width: 20%;
    display: flex;
    justify-content: space-around;
}
.details input[type=checkbox]{
    margin: auto;
    transform: scale(3);
}
.details .controls .button{
    margin: auto;
}
.details .description{
    border: 1px solid black;
    min-height: 30vh;
}
.details .button{
    font-size: 1em;
    line-height: 2em;
}
.centeredText{
    text-align: center;
}
.button.dynamic{
    width: auto;
}
.button.smallText{
    font-size: 1em;
    line-height: 2em;
    text-align: center;
}

.create input[type=text]{
    height: 5vmin;
}
.create .button{
    font-size: 1em;
    line-height: 2em;    
}